body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: poppins, sans-serif;
    background-color: hsl(27, 100%, 94%);
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.fotologo {
    width: 80px;
    margin-right: 15px;
}

.fontelogo {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #311d0d;
}

.cabeçalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding-bottom: 20px;
}

.opçoescabeçalho {
    margin: 0 15px;
    font-weight: bold;
    cursor: pointer;
}

.rodape {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 13px;
    color: #888;
}

.paragrafos {
    width: 70%;
}

.titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}

a {
    text-decoration: none; /* remove o sublinhado */
    color: inherit; /* usa a mesma cor do elemento pai */
}